{% extends 'frontend/index.html' %}

{% block content %}
<div class="row">
  <div class="span12">
    <h4> Edit {{ company.company_name }} </h4>
    <form action="" method="POST">
        <input type="hidden" name="company_key" value="{{ company.key }}">
    	<input type="text" name="company_name" value="{{ company.company_name }}">
    	<input type="text" name="company_address" value="{{ company.company_address }}">
    	<input type="text" name="company_phone" value="{{ company.company_phone }}">
    	<button type="submit" class="btn btn-white" name="edit_company" value="edit_company">Save Changes</button>
    </form>
    
  </div>
</div>
{% endblock %}