{% extends 'frontend/index.html' %}

{% block content %}
<div class="row">
  <div class="span12">
    <h4>New Company</h4>
    <form action="" method="POST">
        <input type="text" name="company_name" placeholder="Company Name">
        <input type="text" name="company_address" placeholder="Address">
        <input type="text" name="company_phone" placeholder="Phone Number">
        <button type="submit" class="btn btn-white" name="save_company" value="save_company">Save Company</button>
    </form>
    <br/>
    <br/>

    {% if companies %}
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Adress</th>
            <th>Phone Number</th>
            <th>Action</th>
        </tr>
    {% for company in companies %}
        <tr>
            <td>{{ company.company_name }}</td>
            <td>{{ company.company_address }}</td>
            <td>{{ company.company_phone }}</td>
            <td><a href="edit/company/{{ company.key }}" class="btn btn-blue">Edit</a> <a href="delete/company/{{ company.key }}" class="btn btn-red">Delete</a> </td>
        </tr>
    {% endfor %}
    </table>
    <button class="btn btn-grey pull-right" type="button">SEE ALL COMPANY</button>
    {% endif %}

  </div>
</div>
{% endblock %}