{% extends 'frontend/index.html' %}

{% block content %}
<div class="row">
  <div class="span12">
  <h4> Delete {{ company.company_name }} </h4>
    	{{ company.company_name }}<br/>
    	{{ company.company_address }}<br/>
    	{{ company.company_phone }}<br/><br/>
    <form action="" method="POST">
        <input type="hidden" value="{{ company.key }}" name="company_key"/>
    	<button type="submit" class="btn btn-white" name="delete_company" value="delete_company">Delete Company</button>
    </form>
    
  </div>
</div>
{% endblock %}