{% extends 'frontend/index.html' %}
{% block csstop %}
	<style>
      .reg-select { 
        background-color: #fff; 
        font-size: 12px; 
        padding: 3px 30px 3px 18px !important;
        width: auto; 
        height: 32px; 
        background-image: url('http://mlepay.com/images/dk_arrows.png'); 
        background-repeat: no-repeat; 
        background-position: 91% center; 
        border-top: 1px solid #cecece; 
        border-left: 1px solid #cecece; 
        border-right: 1px solid #cecece; 
        border-bottom: 2px solid #cecece; 
        color: #333; 
        padding: 12px 45px 11px 20px; 
        text-shadow: #fff 1px 1px 0; 
        border-radius: 3px; 
        -moz-border-radius: 3px; 
        -webkit-border-radius: 3px; 
        -webkit-transition: border-color .1s!important; 
        -moz-transition: border-color .1s!important; 
        -o-transition: border-color .1s!important; 
        transition: border-color .1s!important; 
        -webkit-appearance: none; 
        -moz-appearance: none; } 
      #reportrange.reg-select { background-position: 95.5% center; padding: 6px 30px 7px 18px!important;}

      .daterangepicker .calendar {
          max-width: 350px !important;
      }
      .daterangepicker .ranges {
          width: 190px !important;
      }
    </style>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
		<h1 class="page-title txt-color-blueDark"><i class="fa fa-home fa-fw "></i> Dashboard</h1>
	</div>
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-6">
		<div class="row">
			<form id='report_filter' action="/dashboard" class="header-search pull-right"> 
				 <input type="hidden" name="start" id="filter_start_date" class="report_filter" /> 
				 <input type="hidden" name="end" id="filter_end_date" class="report_filter" /> 
				 <span id="reportrange" class="reg-select"> <i class="fa fa-calendar fa-lg"></i>&nbsp; <span></span> </span> 
			</form>

		</div>
	</div>
</div>
<section id="widget-grid" class="">
	<div class="row">
		

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false">
				<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
					
					data-widget-colorbutton="false"	
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true" 
					data-widget-sortable="false"
					
				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
					<h2>Bar Chart</h2>				
					
				</header>

				<!-- widget div-->
				<div>
					
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
						
					</div>
					<!-- end widget edit box -->
					
					<!-- widget content -->
					<div class="widget-body no-padding">
						
						<br/>
						<br/>
						<div id="bar-chart" class="chart"></div>
					</div>
					<!-- end widget content -->
					
				</div>
				<!-- end widget div -->
				
			</div>
			<!-- end widget -->
			
		</article>
		<!-- WIDGET END -->

	</div>
</section>


<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark">
			
			<i class="fa-fw fa fa-pencil-square-o"></i> 
				Feedback List
		</h1>
		
	</div>
</div>
<section id="widget-grid" class="">
	
	<div class="row">
		
		<!-- NEW WIDGET START -->
		<article class="col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget well" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-pencil"></i> </span>
					<h2>Markdown API</h2>

				</header>

				<div>
					<div class="widget-body">
						<h3>Feedback Detailed List</h3>
						<div class="nothing-to-display hide-display"><hr><h5><p class="no-display"> Nothing to Display </p></h5></div>
						<table class="table table-bordered table-striped fed-details">
							<thead>
								<tr>
									<!-- <th>Feedback Number</th> -->
									<!-- <th>Details</th> -->
									<!-- <th>Branch Number</th> -->
									<th>Feedback Details</th>
									<th>Date Submitted</th>
								</tr>
							</thead>
							<tbody class="feedback-details">
                            	
							</tbody>
						</table>
						
												
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
	

	</div>

	<!-- end row -->
	
</section>



{% endblock %}
{% block jsbottom %}

<script src="/js/highcarts/highcharts.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/daterangepicker.js"></script>
<script type="text/javascript">
	pageSetUp();
	  $(document).ready(function() {



	    $("#filter_start_date").val(moment().subtract('days', 6).format('YYYY-MM-DD')); 
	    $("#filter_end_date").val(moment().format('YYYY-MM-DD')); 
	    $('#reportrange').daterangepicker( { 
	      startDate: moment().subtract('days', {% if start_date_diff %}{{ start_date_diff }}{% else %}6{% endif %}), 
	      endDate: moment().subtract('days', {% if end_date_diff %}{{ end_date_diff }}{% else %}0{% endif %}), 
	      minDate: '12/01/2013', 
	      maxDate: moment().format('MM/DD/YYYY'), 
	      showDropdowns: true, 
	      showWeekNumbers: true, 
	      timePicker: false, 
	      timePickerIncrement: 1, 
	      timePicker12Hour: true, 
	      ranges: { 

	        'Today': [moment(), moment()], 
	        'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)], 
	        'Last 7 Days': [moment().subtract('days', 6), moment()], 'Last 30 Days': [moment().subtract('days', 29), moment()], 
	        'This Month': [moment().startOf('month'), moment().endOf('month')], 
	        'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')] }, 
	        opens: 'left', 
	        buttonClasses: ['btn btn-default'], 
	        applyClass: 'btn-small btn-primary', 
	        cancelClass: 'btn-small', 
	        format: 'MM/DD/YYYY', 
	        separator: ' to ', 
	        locale: { 
	          applyLabel: 'Submit', 
	          fromLabel: 'From', 
	          toLabel: 'To', 
	          customRangeLabel: 'Custom Range', 
	          daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'], 
	          monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'], firstDay: 1 } }, 
	          function(start, end) { 
	            console.log("Callback has been called!"); 
	            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY')); 
	            $("#filter_start_date").val(start.format('YYYY-MM-DD')); 
	            $("#filter_end_date").val(end.format('YYYY-MM-DD')); $("#filter_end_date").trigger('change'); 
	      }); 
	      
	      $('#reportrange span').html(moment().subtract('days', {% if start_date_diff %}{{ start_date_diff }}{% else %}6{% endif %}).format('MMMM D, YYYY') + ' - ' + moment().subtract('days', {% if end_date_diff %}{{ end_date_diff }}{% else %}0{% endif %}).format('MMMM D, YYYY')); 
	      $(".report_filter").change(function(event){ 
	      $("#report_filter").submit(); 

	    }); 

	    var started_date ={% if start_input  %}"{{ start_input }}"{% else %}$("#filter_start_date").val();{% endif %}
	    var ended_date = {% if end_input  %}"{{ end_input }}"{% else %}$("#filter_end_date").val();{% endif %}
	    started_date = new Date(started_date)
	    ended_date = new Date(ended_date)

	    var happy = new Array();
	    	satisfy = new Array();
	    	sad = new Array();

	    $.getJSON("/feedback/graphs", function(datas) {
	    	
	    	console.log(datas)
	    	
	    	if(datas){
    		
	    		for(var i=0; i<datas['feedback_list'].length; i++){datas["feedback_list"][i].created
	    				
    				created_date = moment(datas["feedback_list"][i].created).format('YYYY-MM-DD');
    				created_date_list = moment(datas["feedback_list"][i].created).format('MMMM DD, YYYY hh:mm:ss A');
					today = created_date;
					created_date = new Date(created_date);

					console.log(created_date_list)
					if(datas['feedback_list'][i].feedback_type == '5000'){  // bad

						if(!(today in sad)){
							sad[today] = 0;
						}
						sad[today] += 1;
						// $('.feedback-details').append('<tr><td>Bad</td><td>'+created_date_list+'</td></tr>');
						
					}
					if(datas['feedback_list'][i].feedback_type == '15000'){  // good
						
						if(!(today in satisfy)){
							satisfy[today] = 0;
						}
						satisfy[today] += 1;
						// $('.feedback-details').append('<tr><td>Good</td><td>'+created_date_list+'</td></tr>');

					}
					if(datas['feedback_list'][i].feedback_type == '10000'){  // Satisfactory

						if(!(today in happy)){
							happy[today] = 0;
						}
						happy[today] += 1;
						// $('.feedback-details').append('<tr><td>Neutral</td><td>'+created_date_list+'</td></tr>');

					}

				}


				console.log(sad)
				var start = moment(started_date).format('MM/DD/YYYY'),
					end = moment(ended_date).format('MM/DD/YYYY'),
					currentDate = new Date(start),
					between = []

					start = new Date(start);
					end = new Date(end);


				var bad_array = new Array();
			    var satisfy_array = new Array();
			    var happy_array = new Array();

			    
				while(currentDate <= end){
					today = moment(currentDate).format('YYYY-MM-DD');
					console.log(today)

					for(var i=0; i<datas['feedback_list'].length; i++){
						
						created_date = moment(datas["feedback_list"][i].created).format('YYYY-MM-DD');

						if (today == created_date){

		    				created_date_list = moment(datas["feedback_list"][i].created).format('MMMM DD, YYYY hh:mm:ss A');
							today = created_date;
							created_date = new Date(created_date);

							if(datas['feedback_list'][i].feedback_type == '5000'){  // bad
								$('.feedback-details').append('<tr style="background-color:#F00000 !important; background-image:none!important;"><td style="background-color:#F00000 !important; background-image:none!important;">Bad</td><td style="background-color:#F00000 !important; background-image:none!important;">'+created_date_list+'</td></tr>');
							}
							if(datas['feedback_list'][i].feedback_type == '15000'){  // good
								$('.feedback-details').append('<tr style="background-color:#00EE76 !important; background-image:none!important;"><td style="background-color:#00EE76 !important; background-image:none!important;">Good</td><td style="background-color:#00EE76 !important; background-image:none!important;">'+created_date_list+'</td></tr>');
							}
							if(datas['feedback_list'][i].feedback_type == '10000'){  // Satisfactory
								$('.feedback-details').append('<tr style="background-color:#ffff4c !important; background-image:none!important;"><td style="background-color:#ffff4c !important; background-image:none!important;">Neutral</td><td style="background-color:#ffff4c !important; background-image:none!important;">'+created_date_list+'</td></tr>');
							}
						}
						

					}

					if(today in sad){
						bad_array.push(sad[today]);
					}
					else{
						bad_array.push(0);
					}
					if(today in satisfy){
						satisfy_array.push(satisfy[today]);
					}
					else{
						satisfy_array.push(0);
					}
					if(today in happy){
						happy_array.push(happy[today]);
					}
					else{
						happy_array.push(0);
					}
					currentDate.setDate(currentDate.getDate() + 1);
					between.push(moment(today).format('DD'));

				

				}

				
				
				console.log('------'+ between)
				console.log(satisfy_array)
				console.log(bad_array)
				console.log(happy_array)
				/*created_date >= started_date && created_date <= ended_date*/

	    		$('#bar-chart').highcharts({
		            chart: {
		                type: 'column'
		            },
		            title: {
		                text: ''
		            },
		            subtitle: {
		                text: ''
		            },
		            xAxis: {
		                categories: between
		            },
		            yAxis: {
		                min: 0,
		                title: {
		                    text: ''
		                }
		            },
		            tooltip: {
		                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
		                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
		                    '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
		                footerFormat: '</table>',
		                shared: true,
		                useHTML: true
		            },
		            plotOptions: {
		                column: {
		                    pointPadding: 0.2,
		                    borderWidth: 0
		                }
		            },
		            series: [{
		            	name: 'Good',
		                data: satisfy_array,
		                color: '#00EE76'
		    
		            }, {
		                
		                name: 'Neutral',
		                data: happy_array,
		                color: '#ffff4c'
		    
		            }, {
		            	name: 'Bad',
		                data: bad_array,
		                color: '#F00000'
		    
		            }]
		        });



	    	}

	    });

	  });
</script>

{% endblock %}