{% extends 'frontend/index.html' %}

{% block content %}
<div class="row">
  <div class="span12">
    <h4>New Subscriber</h4>
    <form action="" method="POST">
        Company Name : <select name="company_name">
            {% for company in companies %}
                <option value="{{ company.key }}">{{ company.company_name }}</option> 
            {% endfor %}
        </select><br/>
        Branch Name : <select name="branch_name">
        {% for subscriber in subscribers %}
            <option value="{{ subscriber.key }}">{{ subscriber.branch_name }}</option>
        {% endfor %}
        </select><br/><br/>
        Feedback Details <br/>
        <textarea name="feedback_details"> </textarea><br/>
        <button type="submit" class="btn btn-white" name="save_feedback" value="save_feedback">Save feedback</button>
    </form>
    <br/>
    <br/>

    {% if feedbacks %}
    <table class="table table-striped">
        <tr>
            <th>Feedback Details</th>
            <th>Company</th>
            <th>Branch Name</th>
            <th>Phone Number</th>
            <!-- <th>Action</th> -->
        </tr>
    {% for feedback in feedbacks %}
        <tr>
            <td>{{ feedback.feedback_details }}</td>
            <td>{{ feedback.company_name }}</td>
            <td>{{ feedback.branch_name }}</td>
            <td>{{ feedback.branch_phone }}</td>
           <!--  <td><a href="edit/feedback/{{ feedback.key }}" class="btn btn-blue">Edit</a> <a href="delete/feedback/{{ feedback.key }}" class="btn btn-red">Delete</a> </td> -->
        </tr>
    {% endfor %}
    </table>
    <button class="btn btn-grey pull-right" type="button">SEE ALL FEEDBACKS</button>
    {% endif %}

  </div>
</div>
{% endblock %}