{% block csstop %}
<style>
      .reg-select { 
        background-color: #fff; 
        font-size: 12px; 
        padding: 3px 30px 3px 18px !important;
        width: auto; 
        height: 32px; 
        background-image: url('http://mlepay.com/images/dk_arrows.png'); 
        background-repeat: no-repeat; 
        background-position: 91% center; 
        border-top: 1px solid #cecece; 
        border-left: 1px solid #cecece; 
        border-right: 1px solid #cecece; 
        border-bottom: 2px solid #cecece; 
        color: #333; 
        padding: 12px 45px 11px 20px; 
        text-shadow: #fff 1px 1px 0; 
        border-radius: 3px; 
        -moz-border-radius: 3px; 
        -webkit-border-radius: 3px; 
        -webkit-transition: border-color .1s!important; 
        -moz-transition: border-color .1s!important; 
        -o-transition: border-color .1s!important; 
        transition: border-color .1s!important; 
        -webkit-appearance: none; 
        -moz-appearance: none; } 
      #reportrange.reg-select { background-position: 95.5% center; padding: 6px 30px 7px 18px!important;}

      .daterangepicker .calendar {
          max-width: 350px !important;
      }
      .daterangepicker .ranges {
          width: 190px !important;
      }
    </style>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
		<h1 class="page-title txt-color-blueDark"><i class="fa fa-home fa-fw "></i> Dashboard</h1>
	</div>
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-6">
		<div class="row">
								
			
	        <form id='report_filter' action="/dashboard" class="header-search pull-right"> 
				 <input type="hidden" name="start" id="filter_start_date" class="report_filter" /> 
				 <input type="hidden" name="end" id="filter_end_date" class="report_filter" /> 
				 <span id="reportrange" class="reg-select"> <i class="fa fa-calendar fa-lg"></i>&nbsp; <span></span> </span> 
			</form>

		</div>
		<!-- <ul id="sparks" class="">
			<li class="sparks-info">
				<h5> My Income <span class="txt-color-blue">$47,171</span></h5>
				<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
					1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
				</div>
			</li>
			<li class="sparks-info">
				<h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
				<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
					110,150,300,130,400,240,220,310,220,300, 270, 210
				</div>
			</li>
			<li class="sparks-info">
				<h5> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
				<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
					110,150,300,130,400,240,220,310,220,300, 270, 210
				</div>
			</li>
		</ul> -->
	</div>
</div>

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">
		

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false">
				<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
					
					data-widget-colorbutton="false"	
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true" 
					data-widget-sortable="false"
					
				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
					<h2>Bar Chart</h2>				
					
				</header>

				<!-- widget div-->
				<div>
					
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
						
					</div>
					<!-- end widget edit box -->
					
					<!-- widget content -->
					<div class="widget-body no-padding">
						
						<br/>
						<br/>
						<div id="bar-chart" class="chart"></div>
					</div>
					<!-- end widget content -->
					
				</div>
				<!-- end widget div -->
				
			</div>
			<!-- end widget -->
			
		</article>
		<!-- WIDGET END -->

	</div>
	
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			
			
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" id="wid-id-7" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false">
				<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
					
					data-widget-colorbutton="false"	
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true" 
					data-widget-sortable="false"
					
				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
					<h2>Statistic Chart</h2>				
					
				</header>

				<!-- widget div-->
				<div>
					
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
						
					</div>
					<!-- end widget edit box -->
					
					<!-- widget content -->
					<div class="widget-body no-padding">
						
						<div id="site-stats" class="chart has-legend"></div>
						
					</div>
					<!-- end widget content -->
					
				</div>
				<!-- end widget div -->
				
			</div>
			<!-- end widget -->

			
		</article>
		<!-- WIDGET END -->

		
	</div>
	

	

	<!-- end row -->


	<!-- end row -->
	
</section>
<!-- end widget grid -->
{% endblock %}
{% block jsbottom %}

<script src="/js/highcarts/highcharts.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/daterangepicker.js"></script>
<script type="text/javascript">
	pageSetUp();
	  $(document).ready(function() {



	    $("#filter_start_date").val(moment().subtract('days', 6).format('YYYY-MM-DD')); 
	    $("#filter_end_date").val(moment().format('YYYY-MM-DD')); 
	    $('#reportrange').daterangepicker( { 
	      startDate: moment().subtract('days', {% if start_date_diff %}{{ start_date_diff }}{% else %}6{% endif %}), 
	      endDate: moment().subtract('days', {% if end_date_diff %}{{ end_date_diff }}{% else %}0{% endif %}), 
	      minDate: '12/01/2013', 
	      maxDate: moment().format('MM/DD/YYYY'), 
	      showDropdowns: true, 
	      showWeekNumbers: true, 
	      timePicker: false, 
	      timePickerIncrement: 1, 
	      timePicker12Hour: true, 
	      ranges: { 

	        'Today': [moment(), moment()], 
	        'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)], 
	        'Last 7 Days': [moment().subtract('days', 6), moment()], 'Last 30 Days': [moment().subtract('days', 29), moment()], 
	        'This Month': [moment().startOf('month'), moment().endOf('month')], 
	        'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')] }, 
	        opens: 'left', 
	        buttonClasses: ['btn btn-default'], 
	        applyClass: 'btn-small btn-primary', 
	        cancelClass: 'btn-small', 
	        format: 'MM/DD/YYYY', 
	        separator: ' to ', 
	        locale: { 
	          applyLabel: 'Submit', 
	          fromLabel: 'From', 
	          toLabel: 'To', 
	          customRangeLabel: 'Custom Range', 
	          daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'], 
	          monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'], firstDay: 1 } }, 
	          function(start, end) { 
	            console.log("Callback has been called!"); 
	            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY')); 
	            $("#filter_start_date").val(start.format('YYYY-MM-DD')); 
	            $("#filter_end_date").val(end.format('YYYY-MM-DD')); $("#filter_end_date").trigger('change'); 
	      }); 
	      
	      $('#reportrange span').html(moment().subtract('days', {% if start_date_diff %}{{ start_date_diff }}{% else %}6{% endif %}).format('MMMM D, YYYY') + ' - ' + moment().subtract('days', {% if end_date_diff %}{{ end_date_diff }}{% else %}0{% endif %}).format('MMMM D, YYYY')); 
	      $(".report_filter").change(function(event){ 
	      $("#report_filter").submit(); 

	    }); 

	    var started_date ={% if start_input  %}"{{ start_input }}"{% else %}$("#filter_start_date").val();{% endif %}
	    var ended_date = {% if end_input  %}"{{ end_input }}"{% else %}$("#filter_end_date").val();{% endif %}
	    started_date = new Date(started_date)
	    ended_date = new Date(ended_date)

	    var happy = new Array();
	    	satisfy = new Array();
	    	sad = new Array();

	    $.getJSON("/feedback/graphs", function(datas) {
	    	loadScript("/js/plugin/flot/jquery.flot.cust.js", loadFlotResize);
		
			function loadFlotResize() {
				loadScript("/js/plugin/flot/jquery.flot.resize.js", loadFlotFillbetween);
			}
			function loadFlotFillbetween() {
				loadScript("/js/plugin/flot/jquery.flot.fillbetween.js", loadFlotOrderBar);
			}
			function loadFlotOrderBar() {
				loadScript("/js/plugin/flot/jquery.flot.orderBar.js", loadFlotPie);
			}	
			function loadFlotPie() {
				loadScript("/js/plugin/flot/jquery.flot.pie.js", loadFlotToolTip);
			}
			function loadFlotToolTip() {
				loadScript("/js/plugin/flot/jquery.flot.tooltip.js", generateAllFlotCharts);
			}

			
			/* chart colors default */
			var $chrt_border_color = "#efefef";
			var $chrt_grid_color = "#DDD"
			var $chrt_main = "#E24913";			/* red       */
			var $chrt_second = "#6595b4";		/* blue      */
			var $chrt_third = "#FF9F01";		/* orange    */
			var $chrt_fourth = "#7e9d3a";		/* green     */
			var $chrt_fifth = "#BD362F";		/* dark red  */
			var $chrt_mono = "#000";
			var $chrt_six = "#ffff4c"; /* yellow */
			var $chrt_seven = "#F00000"  /* red */
			var $chrt_eight = "#00EE76"  /* greeen */

	    	console.log(datas)
	    	
	    	if(datas){
	    		for(var i=0; i<datas['feedback_list'].length; i++){
	    				
    				created_date = moment(datas["feedback_list"][i].created).format('YYYY-MM-DD');
					today = created_date;
					created_date = new Date(created_date);

					if(datas['feedback_list'][i].feedback_type == '5000'){  // bad

						if(!(today in sad)){
							sad[today] = 0;
						}
						sad[today] += 1;
						console.log(today)
						console.log(sad[today])
						
					}
					if(datas['feedback_list'][i].feedback_type == '15000'){  // good
						
						if(!(today in satisfy)){
							satisfy[today] = 0;
						}
						satisfy[today] += 1;
					}
					if(datas['feedback_list'][i].feedback_type == '10000'){  // Satisfactory

						if(!(today in happy)){
							happy[today] = 0;
						}
						happy[today] += 1;
					}

				}


				var start = moment(started_date).format('MM/DD/YYYY'),
					end = moment(ended_date).format('MM/DD/YYYY'),
					currentDate = new Date(start),
					between = []

					start = new Date(start);
					end = new Date(end);


				var bad_array = new Array();
			    var satisfy_array = new Array();
			    var happy_array = new Array();

			    var sline_array = [];
			    var satline_array = [];
			    var hline_array = [];

				while(currentDate <= end){
					today = moment(currentDate).format('YYYY-MM-DD');
					
					if(today in sad){
						bad_array.push(sad[today]);
						sline_array.push([moment(today).format('DD'), sad[today]]);
					}
					else{
						bad_array.push(0);
						sline_array.push([moment(today).format('DD'), 0]);
					}
					if(today in satisfy){
						satisfy_array.push(satisfy[today]);
						satline_array.push([moment(today).format('DD'), satisfy[today]]);
					}
					else{
						satisfy_array.push(0);
						satline_array.push([moment(today).format('DD'), 0]);
					}
					if(today in happy){
						happy_array.push(happy[today]);
						hline_array.push([moment(today).format('DD'), happy[today]]);
					}
					else{
						happy_array.push(0);
						hline_array.push([moment(today).format('DD'), 0]);
					}
					currentDate.setDate(currentDate.getDate() + 1);
					between.push(moment(today).format('DD'));
				}
				console.log(sline_array)
				console.log(satline_array)
				console.log(hline_array)
				console.log('------'+ between)
				console.log(satisfy_array)
				console.log(bad_array)
				console.log(happy_array)
				/*created_date >= started_date && created_date <= ended_date*/

	    		$('#bar-chart').highcharts({
		            chart: {
		                type: 'column'
		            },
		            title: {
		                text: ''
		            },
		            subtitle: {
		                text: ''
		            },
		            xAxis: {
		                categories: between
		            },
		            yAxis: {
		                min: 0,
		                title: {
		                    text: ''
		                }
		            },
		            tooltip: {
		                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
		                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
		                    '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
		                footerFormat: '</table>',
		                shared: true,
		                useHTML: true
		            },
		            plotOptions: {
		                column: {
		                    pointPadding: 0.2,
		                    borderWidth: 0
		                }
		            },
		            series: [{
		                name: 'Bad',
		                data: bad_array,
		                color: '#F00000'
		    
		            }, {
		                name: 'Good',
		                data: satisfy_array,
		                color: '#00EE76'
		    
		            }, {
		                name: 'Satisfactory',
		                data: happy_array,
		                color: '#ffff4c'
		    
		            }]
		        });

				

				function generateAllFlotCharts() {
	
					if ($("#site-stats").length) {
		
						
						var plot = $.plot($("#site-stats"), [{
							data : sline_array,
							label : "Bad"
						}, {
							data : satline_array,
							label : "Good"
						},{
							data : hline_array,
							label : "Satisfactory"
						}], {
							series : {
								lines : {
									show : true,
									lineWidth : 1,
									fill : true,
									fillColor : {
										colors : [{
											opacity : 0.1
										}, {
											opacity : 0.15
										}]
									}
								},
								points : {
									show : true
								},
								shadowSize : 0
							},
							xaxis : {
								mode : "time",
								tickLength : 10
							},
				
							yaxes : [{
								min : 20,
								tickLength : 5
							}],
							grid : {
								hoverable : true,
								clickable : true,
								tickColor : $chrt_border_color,
								borderWidth : 0,
								borderColor : $chrt_border_color,
							},
							tooltip : true,
							tooltipOpts : {
								content : "%s for <b>%x</b> was %y",
								dateFormat : "%y-%0m-%0d",
								defaultTheme : false
							},
							colors : [$chrt_main, $chrt_eight, $chrt_six],
							xaxis : {
								ticks : 15,
								tickDecimals : 0
							},
							yaxis : {
								ticks : 15,
								tickDecimals : 0
							},
						});
				
					}
				}

	    	}

	    });

	  });
</script>
{% endblock %}