<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ settings.site_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">-->
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-skins.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style-addons.css">

    <link rel="stylesheet" type="text/css" media="screen" href="/css/demo.css">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
    <link rel="stylesheet" href="/css/daterangepicker-bs3.css" type="text/css" />

  {% block csstop %}{% endblock %}
	{% block jstop %}{% endblock %}

  </head>

  <body class="">
<!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->

    <!-- HEADER -->
    <header id="header">
      <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <!-- <span id="logo"> <img src="img/logo.png" alt="SmartAdmin"> </span> -->
        <!-- END LOGO PLACEHOLDER -->
        <h1 style="padding-left:10px;"><a href="/" style="text-align:center; text-decoration:none!important;">Symph Feedback</a></h1>
      
      </div>

      <div class="pull-left" style="padding-top: 15px;">

       <!--  <div class="menu pull-left">
          <span> <a href="/" ><i class="fa fa-lg fa-fw fa-home"></i>Dashboard</a> </span>
        </div> -->

        <!-- <div class="menu pull-left">
          <span> <a href="/feedbacks" ><i class="fa fa-lg fa-fw fa-list"></i> Feedback List</a> </span>
        </div> -->
        
      </div>

      <!-- pulled right: nav area -->
      <div class="pull-right">

        <!-- collapse menu button -->
        <!-- <div id="hide-menu" class="btn-header pull-right">
          <span> <a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
        </div> -->
        <!-- end collapse menu -->

        <!-- logout button -->
        <div id="logout" class="btn-header transparent pull-right">
          <span> <a href="/logout" title="Sign Out"><i class="fa fa-sign-out"></i></a> </span>
        </div>
        <!-- end logout button -->

        <!-- search mobile button (this is hidden till mobile view port) -->
        <div id="search-mobile" class="btn-header transparent pull-right">
          <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
        </div>
        <!-- end search mobile button -->
      </div>
      <!-- end pulled right: nav area -->

    </header>
    <!-- END HEADER -->

    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->
    <!-- <aside id="left-panel"> -->

      <!-- User info -->
      <!-- <div class="login-info">
        <span>  -->
         <!--  <img src="img/avatars/sunny.png" alt="me" class="online" />  -->
          <!-- <a href="javascript:void(0);" id="show-shortcut"> -->
            <!-- {{ user.name }} --> <!-- <i class="fa fa-angle-down"></i> -->
          <!-- </a> 
        </span>
      </div> -->
      <!-- end user info -->

      <!-- <nav>
       
        <ul>
          <li class="">
            <a href="" id="graph-load"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
          </li>
          <li>
            <a href="/companies" id="company-load"><i class="fa fa-lg fa-fw fa-th"></i> <span class="menu-item-parent">Companies</span></a>
           
          </li>
          <li>
            <a href="/subscribers"><i class="fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent">Subscribers</span> --><!-- <span class="badge pull-right inbox-badge">14</span> --><!-- </a>
          </li>
          
          <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Feedback</span></a>
            <ul>
              <li>
                <a href="/feedbacks">Feedback List</a>
              </li>
              <li>
                <a href="ajax/feedback-form.html">Send Feedback</a>
              </li>
            </ul>
          </li>
         
        </ul>
      </nav>
    </aside> -->
    <!-- END NAVIGATION -->

    <!-- MAIN PANEL -->
    <div id="main" role="main" class="no-side-leftpanel">

      <!-- RIBBON -->
      <div id="ribbon">

        


        <!-- <span class="ribbon-button-alignment"> <span id="refresh" class="btn btn-ribbon" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true"><i class="fa fa-refresh"></i></span> </span>
 -->


        <!-- breadcrumb -->
        <!-- <ol class="breadcrumb"> -->
          <!-- This is auto generated -->
        <!-- </ol> -->
        <!-- end breadcrumb -->
      </div>
      <!-- END RIBBON -->

      <!-- MAIN CONTENT -->
      <div id="content">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    
        {% block content %}{% endblock %}
        </div>
      </div>
      <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->

    <!-- SHORTCUT AREA-->
    <div id="shortcut">
      <ul>
        <li>
          <a href="javascript:void(0);" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
        </li>
      </ul>
    </div>

    

    <!-- END SHORTCUT AREA -->

    <!--================================================== -->

    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
    <script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugin/pace/pace.min.js"></script>-->

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script>
      if (!window.jQuery) {
        document.write('<script src="/js/libs/jquery-2.0.2.min.js"><\/script>');
      }
      
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>
      if (!window.jQuery.ui) {
        document.write('<script src="/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
      }
    </script>


    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
    <script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

    <!-- BOOTSTRAP JS -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>

    <!-- CUSTOM NOTIFICATION -->
    <script src="/js/notification/SmartNotification.min.js"></script>

    <!-- JARVIS WIDGETS -->
    <script src="/js/smartwidgets/jarvis.widget.min.js"></script>

    <!-- EASY PIE CHARTS -->
    <script src="/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

    <!-- SPARKLINES -->
    <script src="/js/plugin/sparkline/jquery.sparkline.min.js"></script>

    <!-- JQUERY VALIDATE -->
    <script src="/js/plugin/jquery-validate/jquery.validate.min.js"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

    <!-- JQUERY SELECT2 INPUT -->
    <script src="/js/plugin/select2/select2.min.js"></script>

    <!-- JQUERY UI + Bootstrap Slider -->
    <script src="/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

    <!-- browser msie issue fix -->
    <script src="/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

    <!-- SmartClick: For mobile devices -->
    <script src="/js/plugin/smartclick/smartclick.js"></script>

    <!--[if IE 7]>

    <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->

    <!-- Demo purpose only -->
    <!-- <script src="/js/demo.js"></script> -->

    <!-- MAIN APP JS FILE -->
    <script src="/js/app.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.9.1.min.js"><\/script>')</script>

    {% block jsbottom %}
    <!-- For Google Analytics -->
        <script>
            var _gaq=[['_setAccount','{{ settings.google_analytics_code }}'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    <!-- Google Analytics Code End -->
    {% endblock %}

    <script>
    	// loadGraph();
		function loadGraph() {
			loadURL("/graphs", $('#content'));
		}

		$("#graph-load").click(function() {
			loadURL("/graphs", $('#content'));
		});
    </script>

  </body>

</html>
