{% extends 'frontend/index.html' %}

{% block content %}
<div class="row">
  <div class="span12">
    {{ transactions }}
    <form class="form-center" action="/password/reset" method="POST">
      <h2 class="form-center-heading">Reset Password</h2>
      {% if current_user %}
      <input type="hidden" name="email" value="{{ current_user.email }}">
      <input type="hidden" name="token" value="{{ token }}">
      <h4>{{ current_user.email }}</h4>
      {% endif %}
      <input type="password" name="password_original" class="input-block-level" placeholder="Password" id="original_pass">
      <input type="password" name="password_retype" class="input-block-level" placeholder="Retype Password" id="retype_pass">
      
      <button class="btn btn-large btn-primary pull-right" type="submit">Reset Password</button>
      <div class="clear"></div>
      <!-- <div class="fblogin-section">
            <div class="or-separator">or</div>
            <div><a href="{{ fb_login_url }}" title="Login with Facebook"><img src="/img/facebook-button.png" alt="Login with Facebook" /></a></div>
          </div> -->
          <div class="clear"></div>
    </form>

  </div>
</div>
{% endblock %}

{% block jsbottom %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#original_pass").focus();
  });
</script>
{% endblock %}