{% extends 'frontend/index.html' %}

{% block content %}
<div class="row">
  <div class="span12">
  <h4> Delete {{ subscriber.branch_name }} </h4>
    	{{ subscriber.branch_name }}<br/>
    	{{ subscriber.branch_address }}<br/>
    	{{ subscriber.branch_phone }}<br/><br/>
    <form action="" method="POST">
        <input type="hidden" value="{{ subscriber.key }}" name="subscriber_key"/>
    	<button type="submit" class="btn btn-white" name="delete_subscriber" value="delete_subscriber">Delete Subscriber</button>
    </form>
    
  </div>
</div>
{% endblock %}