{% extends 'frontend/index.html' %}

{% block content %}
<div class="row">
  <div class="span12">
  <h4> Edit {{ subscriber.branch_name }} </h4>
    <form action="" method="POST">
        <input type="hidden" name="subscriber_key" value="{{ subscriber.key }}">
    	<input type="text" name="subscriber_name" value="{{ subscriber.branch_name }}">
    	<input type="text" name="subscriber_address" value="{{ subscriber.branch_address }}">
    	<input type="text" name="subscriber_phone" value="{{ subscriber.branch_phone }}">
    	<button type="submit" class="btn btn-white" name="edit_subscriber" value="edit_subscriber">Save Changes</button>
    </form>
    
  </div>
</div>
{% endblock %}