{% extends 'frontend/index.html' %}

{% block content %}
<div class="row">
  <div class="span12">
    <h4>New Subscriber</h4>
    <form action="" method="POST">
        <select name="company_name">
            {% for company in companies %}
                <option value="{{ company.key }}">{{ company.company_name }}</option> 
            {% endfor %}
        </select>
    	<input type="text" name="subscriber_name" placeholder="Branch Name">
    	<input type="text" name="subscriber_address" placeholder="Address">
    	<input type="text" name="subscriber_phone" placeholder="Phone Number">
    	<button type="submit" class="btn btn-white" name="save_subscriber" value="save_subscriber">Save Subscriber</button>
    </form>
    <br/>
    <br/>

    {% if subscribers %}
    <table class="table table-striped">
    	<tr>
    		<th>Branch Name</th>
    		<th>Location</th>
    		<th>Phone Number</th>
    		<th>Action</th>
    	</tr>
    {% for subscriber in subscribers %}
    	<tr>
    		<td>{{ subscriber.branch_name }}</td>
    		<td>{{ subscriber.branch_address }}</td>
    		<td>{{ subscriber.branch_phone }}</td>
    		<td><a href="edit/subscriber/{{ subscriber.key }}" class="btn btn-blue">Edit</a> <a href="delete/subscriber/{{ subscriber.key }}" class="btn btn-red">Delete</a> </td>
    	</tr>
    {% endfor %}
	</table>
    <button class="btn btn-grey pull-right" type="button">SEE ALL SUBSCRIBERS</button>
    {% endif %}

  </div>
</div>
{% endblock %}