{% extends 'frontend/index.html' %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <form action="/testing" method="POST">
    <input type="text" name="email">
    <input type="text" name="first_name">
    <input type="text" name="last_name">
    <input type="text" name="phonenumber">
    <input type="submit">
  </form>
</div>
{% endblock %}