/* some add-ons */
.no-display{
  text-align: center;
}

.hide-display{
	display: none;
}

.menu a{
  color:#000000;
  font-size:14px;
  font-weight:400;
  text-decoration:none !important;
  padding-right: 20px;
}

.no-side-leftpanel{
	margin-left: 0px !important;
}

.footer{
	min-height: 40px;
background: #474544;
position: relative;
}