#content {
  padding-bottom: 100px;
}

/* Form */

.form-center {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-center .form-center-heading {
  margin-bottom: 10px;
}
.form-center input[type="text"],
.form-center input[type="email"],
.form-center input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.fblogin-section {
  text-align: center;
}

.or-separator {
  text-align: center;
  color: #777;
  border-bottom: 1px dashed #DEDEDE;
  height: 9px;
  margin: 30px auto 40px;
  overflow: visible;
  font-size: 14px;
  text-transform: uppercase;
}





.clear {
  clear: both;
}



/*---------------*/
.btn.btn-grey {
    background: none repeat scroll 0 0 #E6E6E6;
    border: 1px solid #DDDDDD !important;
    border-radius: 3px;
    box-shadow: none;
    color: #666666 !important;
    display: block;
    font-size: 12px;
    line-height: normal;
    margin: 0 0 5px;
    outline: medium none;
    padding: 6px 10px;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.btn.btn-grey.active, .btn.btn-grey:hover {
    background: none repeat scroll 0 0 #DDDDDD;
    border-color: #D8D8D8 !important;
    border-style: solid !important;
    border-width: 1px !important;
}

.btn.btn-white {
    background-color: #FFFFFF !important; 
    background-image: none !important;
    border: 1px solid #DDDDDD !important;
    border-radius: 3px;
    color: #666666 !important;
    
    font-size: 12px;
    line-height: normal;
    margin: 0 0 5px;
    outline: medium none;
    padding: 6px 10px;
    text-transform: uppercase;
   
}

.btn.btn-red {
  color: #C44742 !important;
  background-color: #FFFFFF !important; 
  background-image: none !important;
  border: 1px solid #D54A44 !important;
  border-radius: 3px;
  
  font-size: 12px;
  line-height: normal;
  margin: 0 0 5px;
  outline: medium none;
  padding: 6px 10px;
  text-transform: uppercase;
}

.btn.btn-blue {
  color: #00688B !important;
  background-color: #FFFFFF !important; 
  background-image: none !important;
  border: 1px solid #00B2EE !important;
  border-radius: 3px;
  
  font-size: 12px;
  line-height: normal;
  margin: 0 0 5px;
  outline: medium none;
  padding: 6px 10px;
  text-transform: uppercase;
}