<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
		<h1 class="page-title txt-color-blueDark"><i class="fa fa-home fa-fw "></i> Dashboard</h1>
	</div>
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-6">
		<div class="row">
								
			
	        <form id='report_filter' action="/admin/board" class="header-search pull-right"> 
				 <input type="hidden" name="start" id="filter_start_date" class="report_filter" /> 
				 <input type="hidden" name="end" id="filter_end_date" class="report_filter" /> 
				 <span id="reportrange" class="reg-select"> <i class="fa fa-calendar fa-lg"></i>&nbsp; <span></span> </span> 
			</form>

		</div>
	</div>
</div>

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">
		

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" id="wid-id-7" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
					<h2>Site Stats Chart</h2>				
					
				</header>

				<!-- widget div-->
				<div>
					
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
						
					</div>
					<!-- end widget edit box -->
					
					<!-- widget content -->
					<div class="widget-body no-padding">
						
						<div id="site-stats" class="chart has-legend"></div>
						
					</div>
					<!-- end widget content -->
					
				</div>
				<!-- end widget div -->
				
			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->

	</div>

	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false">
				<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
					
					data-widget-colorbutton="false"	
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true" 
					data-widget-sortable="false"
					
				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
					<h2>Bar Chart</h2>				
					
				</header>

				<!-- widget div-->
				<div>
					
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
						
					</div>
					<!-- end widget edit box -->
					
					<!-- widget content -->
					<div class="widget-body no-padding">
						
						<div id="bar-chart" class="chart"></div>
						
					</div>
					<!-- end widget content -->
					
				</div>
				<!-- end widget div -->
				
			</div>
			<!-- end widget -->

			
		</article>
		<!-- WIDGET END -->

		
	</div>

	<!-- end row -->


	<!-- end row -->
	
</section>
<!-- end widget grid -->

<script type="text/javascript">
	
	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	pageSetUp();
	
	// PAGE RELATED SCRIPTS

	/*
	 * LOAD ALL FLOT DEPENDENCIES
	 */

	loadScript("js/plugin/flot/jquery.flot.cust.js", loadFlotResize);
	
	function loadFlotResize() {
		loadScript("js/plugin/flot/jquery.flot.resize.js", loadFlotFillbetween);
	}
	function loadFlotFillbetween() {
		loadScript("js/plugin/flot/jquery.flot.fillbetween.js", loadFlotOrderBar);
	}
	function loadFlotOrderBar() {
		loadScript("js/plugin/flot/jquery.flot.orderBar.js", loadFlotPie);
	}	
	function loadFlotPie() {
		loadScript("js/plugin/flot/jquery.flot.pie.js", loadFlotToolTip);
	}
	function loadFlotToolTip() {
		loadScript("js/plugin/flot/jquery.flot.tooltip.js", generateAllFlotCharts);
	}

	/* chart colors default */
	var $chrt_border_color = "#efefef";
	var $chrt_grid_color = "#DDD"
	var $chrt_main = "#E24913";			/* red       */
	var $chrt_second = "#6595b4";		/* blue      */
	var $chrt_third = "#FF9F01";		/* orange    */
	var $chrt_fourth = "#7e9d3a";		/* green     */
	var $chrt_fifth = "#BD362F";		/* dark red  */
	var $chrt_mono = "#000";
	var $chrt_six = "#ffff4c"; /* yellow */
	var $chrt_seven = "#F00000"  /* red */
	var $chrt_eight = "#00EE76"  /* greeen */
	
	function generateAllFlotCharts() {
		
	
		if ($("#bar-chart").length) {

			var data1 = [[0, 9], [1, 12], [2, 10], [3, 22], [4, 29], [5, 21], [6, 12], [7, 20], [8, 25], [9, 26], [10, 24], [11, 4], [12, 21]];
			
			var data2 = [[0, 19], [1, 11], [2, 7], [3, 14], [4, 5], [5, 17], [6, 18], [7, 4], [8, 21], [9, 23], [10, 19], [11, 19], [12, 19]];
			
			var data3 = [[0, 0], [1, 25], [2, 2], [3, 5], [4, 22], [5, 10], [6, 26], [7, 27], [8, 27], [9, 8], [10, 17], [11, 14], [12, 17]];
			
			var ds = new Array();
		console.log(data1)
		console.log(data2)
		console.log(data3)
			ds.push({
				data : data1,
				bars : {
					show : true,
					barWidth : 0.2,
					order : 1,
				}
			});
			ds.push({
				data : data2,
				bars : {
					show : true,
					barWidth : 0.2,
					order : 2
				}
			});
			ds.push({
				data : data3,
				bars : {
					show : true,
					barWidth : 0.2,
					order : 3
				}
			});
	
			//Display graph
			$.plot($("#bar-chart"), ds, {
				colors : [$chrt_six, $chrt_eight, $chrt_seven, "#BBB"],
				grid : {
					show : true,
					hoverable : true,
					clickable : true,
					tickColor : $chrt_border_color,
					borderWidth : 0,
					borderColor : $chrt_border_color,
				},
				legend : true,
				tooltip : true,
				tooltipOpts : {
					content : "<b>%x</b> = <span>%y</span>",
					defaultTheme : false
				}
	
			});
	
		}
		
	
		if ($("#site-stats").length) {
	
			var pageviews = [[1, 75], [3, 87], [4, 93], [5, 127], [6, 116], [7, 137], [8, 135], [9, 130], [10, 167], [11, 169], [12, 179], [13, 185], [14, 176], [15, 180], [16, 174], [17, 193], [18, 186], [19, 177], [20, 153], [21, 149], [22, 130], [23, 100], [24, 50]];
			var visitors = [[1, 65], [3, 50], [4, 73], [5, 100], [6, 95], [7, 103], [8, 111], [9, 97], [10, 125], [11, 100], [12, 95], [13, 141], [14, 126], [15, 131], [16, 146], [17, 158], [18, 160], [19, 151], [20, 125], [21, 110], [22, 100], [23, 85], [24, 37]];
			//console.log(pageviews)
			var plot = $.plot($("#site-stats"), [{
				data : pageviews,
				label : "Your pageviews"
			}, {
				data : visitors,
				label : "Site visitors"
			}], {
				series : {
					lines : {
						show : true,
						lineWidth : 1,
						fill : true,
						fillColor : {
							colors : [{
								opacity : 0.1
							}, {
								opacity : 0.15
							}]
						}
					},
					points : {
						show : true
					},
					shadowSize : 0
				},
				xaxis : {
					mode : "time",
					tickLength : 10
				},
	
				yaxes : [{
					min : 20,
					tickLength : 5
				}],
				grid : {
					hoverable : true,
					clickable : true,
					tickColor : $chrt_border_color,
					borderWidth : 0,
					borderColor : $chrt_border_color,
				},
				tooltip : true,
				tooltipOpts : {
					content : "%s for <b>%x:00 hrs</b> was %y",
					dateFormat : "%y-%0m-%0d",
					defaultTheme : false
				},
				colors : [$chrt_main, $chrt_second],
				xaxis : {
					ticks : 15,
					tickDecimals : 2
				},
				yaxis : {
					ticks : 15,
					tickDecimals : 0
				},
			});
	
		}

		
	}
	
	/* end flot charts */	
	
</script>
