<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark">
			
			<!-- PAGE HEADER -->
			<i class="fa-fw fa fa-pencil-square-o"></i> 
				Feedback
			<span>>  
				Feedback List
			</span>
		</h1>
		
	</div>
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
		<ul id="sparks" class="">
			<li class="sparks-info">
				<h5> Today's Feedback <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
				<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
					110,150,300,130,400,240,220,310,220,300, 270, 210
				</div>
			</li>
		</ul>
	</div>
	
</div>

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	
	<div class="row">
		
		<!-- NEW WIDGET START -->
		<article class="col-sm-12 col-md-12 col-lg-12">

			

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget well" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->

				<header>
					<span class="widget-icon"> <i class="fa fa-pencil"></i> </span>
					<h2>Markdown API</h2>

				</header>

				<!-- widget div-->
				<div>
					
					
					<!-- widget content -->
					<div class="widget-body">
						
	
						<h3>Feedback Detailed List</h3>
						
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Feedback Number</th>
									<th>Details</th>
									<th>Branch Name</th>
									<th>Branch Number</th>
									<th>Company</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><code>
										showEditor()</code></td>
									<td>Toggle on the editor visibility</td>
									<td>Toggle on the editor visibility</td>
									<td>Toggle on the editor visibility</td>
									<td>Toggle on the editor visibility</td>
								</tr>
							
							</tbody>
						</table>
												
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
	

	</div>

	<!-- end row -->
	
</section>
<!-- end widget grid -->

<script type="text/javascript">

	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	pageSetUp();

	// PAGE RELATED SCRIPTS
	
	/*
	 * SUMMERNOTE EDITOR
	 */
	loadScript("js/plugin/summernote/summernote.js", summernoteStart);

	function summernoteStart() {
		$('.summernote').summernote({
			height : 180,
			focus : false,
			tabsize : 2
		});
	}

	/*
	 * MARKDOWN EDITOR
	 */
	
	loadScript("js/plugin/markdown/markdown.min.js", loadToMarkdown);
	
	function loadToMarkdown (){
		loadScript("js/plugin/markdown/to-markdown.min.js", loadBSMarkdown);
	}
	
	function loadBSMarkdown(){
		loadScript("js/plugin/markdown/bootstrap-markdown.min.js", markdownStart);
	}
	
	function markdownStart() {
		$("#mymarkdown").markdown({
			autofocus:false,
			savable:true
		})
	}
	
</script>
